
@{
    ViewBag.Title = "CloseTab";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div style="text-align: center; margin-top: 50px;">
    <h2>Payment Process Completed</h2>
    <p>You can now close this tab.</p>
</div>


