@model IEnumerable<MasterPiece.Models.Photographer>

@{
    ViewBag.Title = "التصوير";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
<style>
    .EachService .card h3 {
        text-transform: none;
    }
    .EachService .card .card-img img{
        height:270px;
    }
</style>
<main class="main">

    <!-- EachService Section -->
    <section id="EachService" class="EachService section">

        <div class="container" data-aos="fade-up">
            <p class="Eachsection-title">خدمات التصوير<br></p>
            <p class="Eachsection-description">استعرض أجمل صالات الأفراح في إربد واختار الأنسب لاحتفالك الخاص. نقدم لك مجموعة متنوعة من الصالات لتناسب جميع الأذواق والمناسبات. احجز الآن واجعل يومك مميزًا:</p>
        </div>
    <!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">


                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Content/img/@item.ImageUrl" alt="" class="img-fluid">
                            </div>
                            <h3>@item.Name</h3>
                            <p>السعر: @item.Price دينار </p>
                            <div class="stars">
                                <a class="btn-getstarted details-btn" href="venueDetails.html">التفاصيل</a>
                                <span>@item.Rate (20)</span>
                                <div><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Card Item -->
                }

            </div>


        </div>

    </section>
    <!-- /EachService Section -->

</main>