
@{
    ViewBag.Title = "CloseTab";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/Content/Bookvenue.css" rel="stylesheet" />
<style>
    .section{
        margin:100px 0;
    }
</style>

<main class="main">
    <section id="EachService" class="EachService section">
        <div class="BookFormcontainer">
            <div class="form-container">
                <div style="text-align: center; margin-top: 50px;">
                    <h2>تمت عملية الدفع بنجاح</h2>
                    <p>يمكنك معرفة حجوزاتك من خلال صفحتك الشخصية عبر @Html.ActionLink("الرابط", "Profile", "Users")</p>
                </div>
            </div>
        </div>
    </section>
</main>

